.bg-box {
    height: 600px;
    width: 1000px;
    background-color: green;
    background-image: url("../images/bg.jpg"), url("../images/lamp.png"), url("../images/grass.png"), url("../images/hedgehog.webp"), url("../images/donut.png");
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, top, bottom, left, right;
    background-size: 400px, 50px, 250px, 40px, 40px;
}